*~
*.o
*.a
*.bak
*.orig
*.exe
/po/stamp-it
/Debug
autom4te.cache
aclocal.m4
core
.*
!.gitignore
Makefile
Makefile.in
config.*
!config.rpath
/stamp-h1
libtool
configure
INSTALL
depcomp
install-sh
intltool-*.in
ltmain.sh
missing
mkinstalldirs
ylwrap
gtk-doc.make
gcreate_class.pl
omf.make
xmldocs.make
gnome-doc-utils.make
TODO.tasks
gibbon.anjuta
download_uri
COPYING
