*~
*.o
*.a
/po/stamp-it
/src/gibbon
/src/gibbon.exe
autom4te.cache
aclocal.m4
.*
!.gitignore
Makefile
Makefile.in
config.*
!config.rpath
/stamp-h1
libtool
configure
INSTALL
depcomp
install-sh
intltool-*.in
ltmain.sh
missing
mkinstalldirs
ylwrap
